.container{
position: absolute;
top: 50%;
left: 50%;

transform: translate(-50%, -50%);



width: 450px;
height: 500px;




border-radius: 10px;
border-style: solid ;
border-width: 0.1px;
border-color: #c0f7f2;
box-shadow: 3px 3px 5px black;
background-color: #edfcfb;

}

h1{
	color: #444444;
	font-family: roboto;
	text-align: center;

}

label{
	color: #444444;
	font-size: 20px;
	font-family: roboto;
	margin-right: 20px;


}

.campos{

	width: 90%;
	height: 40px;
box-shadow: none;
	border-radius: 5px;
	border-width: 0.1px;
	border-color: #c0f7f2;
	margin-top: 10px;
}

.aling-campos{
	margin-top: 10px;
	margin-left: 8%;
}

.btn-form{
	width: 35%;
	height: 40px;
	margin-top: 20px;
	margin-left: 33%;
	font-family: roboto;
	font-size: 20px;
	
	border-radius: 4px;
	background-color: black;
	color: #fff;

	cursor: pointer;
}

.display{
	margin-top: 20px;
	margin-left: 8%;

	width: 85%;
	height: 150px;
	background-color: #fff;

	border-radius: 4px;
	border:solid;
	border-color: #c0f7f2;
	border-width: 1px;
}